{% extends 'bootstrap_base.html' %}
{% from 'bootstrap5/form.html' import render_field %}

{% block header %}
<div class="card text-white bg-primary mb-3">
  <div class="card-body">
    <h1 class="card-title text-center">Tutorial: Execution</h1>
    <h3 class="card-text text-justify">In the execution stage, the plan will be used to instruct large language models to choose actions to execute. In each step, you will see the assistant predicted action. After finishing the whole plan, you can continue to next task.</h3>
  </div>
</div>

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/chat.css') }}">
{% endblock %}


{% block content %}

<h3><span class="badge rounded-pill text-bg-primary">Chat Interface:</span></h3>
<!-- <p class="text-justify"> To help you check the complex fact, please follow the intermediate step to check current fact. Please check the step below.</p> -->
<p class="text-justify"> Let's check the execution interface with chat. </p>

<div class="chat-container">
    <div class="chat-area" id="chatArea">
        <div id="messages">
            <!-- Messages will be dynamically inserted here -->
        </div>
        <div id="dots">
            <!-- Messages will be dynamically inserted here -->
        </div>
    </div>
    <div class="input-container">
        <input type="text" id="userInput" placeholder="Click Start to start the execution" disabled>
        <button onclick="sendChat()" id="send_button">Start</button>
    </div>
</div>

<form action="" method="post" class="form" role="form">
    <div class="d-grid">
      <input class="btn btn-success btn-block" id="submit_button" name="submit_button" type="submit"  style="display:none;" value="Execution done, move forward to next task">
    </div>
</form>

<!-- Link to the external JavaScript file -->
<script src="{{ url_for('static', filename='js/execution.js') }}"></script>

{% endblock %}

