{% extends 'bootstrap_base.html' %}
{% from 'bootstrap5/form.html' import render_field %}

{% block header %}
<div class="card text-white bg-primary mb-3">
  <div class="card-body">
    <h1 class="card-title text-center">Task {{task_index | safe}} / {{task_total | safe}}</h1>
    <h3 class="card-text text-justify">You are asked to propose a step-wise plan to execute in the next stage. Please notice that, all the major steps. like 1. 2., will be transformed to one action in the execution stage. 
    The intermediate steps are providing details of the execution (e.g., bank card). All potential actions can be viewed with the button under task description. Please double check your plan with all potential actions before moving forward.
    </h3>
  </div>
</div>

<style>

    .bd-example {
        padding: 0.5rem;
        margin-right: 0;
        margin-left: 0;
        border-width: 0.5px;
        border-top-left-radius: 0.25rem;
        border-top-right-radius: 0.25rem;
        background-color: bisque; /* set the background color to red */
    }

    .task-list {
        list-style-type: none;
        padding-left: 0;
    }

    .task-item {
        margin-bottom: 5px;
        display: flex;
        align-items: center;
    }

    .task-item input[type="text"] {
        flex: 1;
        margin-right: 5px;
    }

    .task-item button {
        margin-right: 5px;
    }

    .add-btn {
        margin-top: 10px;
    }

    /* Indentation based on data-level */
    .task-item[data-level="2"] {
        padding-left: 20px;
    }

    .task-item[data-level="3"] {
        padding-left: 40px;
    }
</style>
{% endblock %}


{% block content %}

<div class="sticky-top">
    <div class="card text-dark bg-light">
        <div class="card-header">
            <h2>Task Description:</h2>
        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <p class="text-justify">{{ tp_query | safe}}</p>
            </blockquote>
            <!-- Button trigger modal -->
            <div class="d-grid gap-2 col-6 mx-auto">
                <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal" onclick="record_user_action(action='show_potential_actions', action_input={'page': 'planning-auto|{{task_index}}'})">
                    Show Potential Actions
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Action View</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h3><span class="badge rounded-pill text-bg-dark">Task Description:</span></h3>
                <p class="text-justify"> {{ tp_query | safe}} </p>

                <h3><span class="badge rounded-pill text-warning">Note:</span></h3>
                <p class="text-justify"> You can check each action by clicking the action name in the left panel. Description and necessary parameters will be provided to help you understand what our LLM assistant can do in this task. Please ignore the parameter UserID, which is automatically managed by our system.</p>
                

            <h3><span class="badge rounded-pill text-bg-warning">Actions:</span></h3>
  
  
            {% if action_list|length == 0 %}
                <p class="text-justify"> None </p>
            {% elif action_list|length > 0 %}
                <div class="row">
                    <div class="col-4">
                        <div class="list-group" id="list-tab" role="tablist">
                            {% for item in action_list -%}
                                {% if loop.index == 1 %}
                                    <a class="list-group-item list-group-item-action active" id="list-{{loop.index}}-list" data-bs-toggle="list" href="#list-{{loop.index}}" role="tab" aria-controls="list-{{loop.index}}">
                                    {{ item["tool_name"] }}
                                    </a>
                                {% else %}
                                    <a class="list-group-item list-group-item-action" id="list-{{loop.index}}-list" data-bs-toggle="list" href="#list-{{loop.index}}" role="tab" aria-controls="list-{{loop.index}}">
                                    {{ item["tool_name"] }}
                                    </a>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="tab-content" id="nav-tabContent">
                            {% for item in action_list -%}
                                {% if loop.index == 1 %}
                                    <div class="tab-pane fade show active" id="list-{{loop.index}}" role="tabpanel" aria-labelledby="list-{{loop.index}}-list">
                                        <p class="h2">Tool Description: </p>
                                        <p class="h4"><code>{{item["description"]}}</code></p>
                                        <p class="h2">Action Required Parameters: </p>
                                        <dl class="row">
                                            {% for key in item["schema"] -%}
                                            <dt class="col-sm-3">{{item["schema"][key]["title"]}}</dt> <dd class="col-sm-9">{{item["schema"][key]["description"]}}</dd>
                                            {% endfor %}
                                        </dl>
                                        <!-- <ol>
                                            {% for key in item["schema"] -%}
                                            <li>{{item["schema"][key]["title"]}}: {{item["schema"][key]["description"]}}</li>
                                            {% endfor %}
                                        </ol> -->
                                    </div>
                                {% else %}
                                    <div class="tab-pane fade" id="list-{{loop.index}}" role="tabpanel" aria-labelledby="list-{{loop.index}}-list">
                                        <p class="h2">Tool Description: </p>
                                        <p class="h4"><code>{{item["description"]}}</code></p>
                                        <p class="h2">Action Required Parameters: </p>
                                        <dl class="row">
                                            {% for key in item["schema"] -%}
                                            <dt class="col-sm-3">{{item["schema"][key]["title"]}}</dt> <dd class="col-sm-9">{{item["schema"][key]["description"]}}</dd>
                                            {% endfor %}
                                        </dl>
                                        <!-- <ol>
                                            {% for key in item["schema"] -%}
                                            <li>{{item["schema"][key]["title"]}}: {{item["schema"][key]["description"]}}</li>
                                            {% endfor %}
                                        </ol> -->
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
    </div>
    </div>
</div>

<h3><span class="badge rounded-pill text-bg-warning">Plan:</span></h3>
  {% if tp_plan|length == 0 %}
  <p class="text-justify"> None </p>
  {% elif tp_plan|length > 0 %}
  <blockquote class="blockquote">
    <div class="bd-example">
        <ul id="taskList" class="list-group">
        {% for item in tp_plan -%}
        <!-- <li contenteditable="true" id="{{item['step'] | safe}}">{{item["step"] | safe}}</li>   -->
            <li class="input-group mb-2" data-level="{{item['data_level'] | safe}}" id="{{item['index'] | safe}}">
                <!-- <div class="input-group mb-3"> -->
                    <span class="input-group-text" id="p-{{item['index'] | safe}}">{{item["index"] | safe}}</span>
                    <!-- <span class="input-group-text" id="p-{{item['index'] | safe}}-step">{{item['step'] | safe}}</span> -->
                    <input type="text" class="form-control" value="{{item['step'] | safe}}" style="background-color:#F5F5DC;" disabled>
            </li>
        {% endfor %}
        </ul>
    </div>
    
  </blockquote>
  {% endif %}

{% macro _hz_form_wrap(horizontal_columns, form_type, add_group=False, required=False) %}
  {% if form_type == "horizontal" %}
      {% if add_group %}
          <div class="form-group row{% if required %} required{% endif %}">{% endif %}
      <div class="offset-{{ horizontal_columns[0] }}-{{ horizontal_columns[1] }}
            col-{{ horizontal_columns[0] }}-{{ horizontal_columns[2] }}
           ">
  {% endif %}
  {{ caller() }}
{% endmacro %}

{% macro render_radio_field(field,
                  form_type="basic",
                  horizontal_columns=('lg', 2, 10),
                  button_map={},
                  button_style='',
                  button_size='') %}
{% if field.flags.required and not required in kwargs %}
    {% set kwargs = dict(required=True, **kwargs) %}
{% endif %}

{% set extra_classes = ' ' + field.render_kw.class if field.render_kw.class else '' %}

<div class="form-group required">
    {{ field.label(class="form-control-label")|safe }}<br>
    {#% call _hz_form_wrap(horizontal_columns, form_type, True, required=required) %#}
    {% for item in field -%}
        <div class="form-check form-check-inline">
            {{ item(class_="form-check-input")|safe }}
            {{ item.label(class="form-check-label", for=item.id)|safe }}
        </div>
    {% endfor %}
{#% endcall %#}
{%- if field.errors %}
    {%- for error in field.errors %}
        <div class="invalid-feedback" style="display: block;">{{ error }}</div>
    {%- endfor %}
{%- elif field.description -%}
    <small class="form-text text-muted">{{ field.description|safe }}</small>
{%- endif %} 
</div>
{% endmacro %}


<form action="" method="post" class="form" role="form" id="theForm">
    {{form.hidden_tag()}}

    <h3><span class="badge rounded-pill bg-danger">Trust --- Indicate your perceptions:</span></h3>
    {{ render_radio_field(form.correctness) }}
    <br>

    <h3><span class="badge rounded-pill bg-warning text-dark">Confidence --- Indicate your perceptions:</span></h3>
    {{ render_radio_field(form.confidence) }}
  <div class="d-grid">
    <!-- <input class="btn btn-success btn-block" id="submit_button" name="submit_button" value="Plan looks nice, move forward to execution"> -->
    {{ render_field(form.submit_button) }}
    </div>
</form>

<script  type="text/javascript">
    function updateplan(){
        //pass;
    }

    async function record_user_action(action = "proceed", action_input = {}) {
        url = '/planning_agent/action_recording';
        try {
            // Start the POST request to send the message
            const response = await fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                // here the message does not matter
                body: JSON.stringify({ 'action': action, 'action_input': action_input})
            })
        } catch (error) {
            console.error('Error:', error);
        }
    }
</script>
{% endblock %}