{% extends 'bootstrap_base.html' %}
{% from 'bootstrap5/form.html' import render_field %}

{% block header %}
<div class="card text-white bg-primary mb-3">
  <div class="card-body">
    <h1 class="card-title text-center">Task {{task_index | safe}} / {{task_total | safe}}</h1>
    <h3 class="card-text text-justify">You are asked to propose a step-wise plan to execute in the next stage. Please notice that, all the major steps. like 1. 2., will be transformed to one action in the execution stage. 
    The intermediate steps are providing details of the execution (e.g., bank card). All potential actions can be viewed with the button under task description. Please double check your plan with all potential actions before moving forward.
    </h3>
  </div>
</div>

<style>

    .bd-example {
        padding: 0.5rem;
        margin-right: 0;
        margin-left: 0;
        border-width: 0.5px;
        border-top-left-radius: 0.25rem;
        border-top-right-radius: 0.25rem;
        background-color: bisque; /* set the background color to red */
    }

    .task-list {
        list-style-type: none;
        padding-left: 0;
    }

    .task-item {
        margin-bottom: 5px;
        display: flex;
        align-items: center;
    }

    .task-item input[type="text"] {
        flex: 1;
        margin-right: 5px;
    }

    .task-item button {
        margin-right: 5px;
    }

    .add-btn {
        margin-top: 10px;
    }

    /* Indentation based on data-level */
    .task-item[data-level="2"] {
        padding-left: 20px;
    }

    .task-item[data-level="3"] {
        padding-left: 40px;
    }
</style>
{% endblock %}


{% block content %}

<div class="sticky-top">
    <div class="card text-dark bg-light">
        <div class="card-header">
            <h2>Task Description:</h2>
        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <p class="text-justify">{{ tp_query | safe}}</p>
            </blockquote>
            <!-- Button trigger modal -->
            <!-- <div class="d-grid gap-2 col-6 mx-auto">
                <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Show Potential Actions
                </button>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#instructionModal">
                    Plan Edit Instruction
                </button>
                <button class="btn btn-info" onclick="addOneStep()">
                    Add one step
                </button>
            </div> -->
            <div class="row">
                <button type="button" class="btn btn-secondary col-6 col-md-4" data-bs-toggle="modal" data-bs-target="#exampleModal" onclick="record_user_action(action='show_potential_actions', action_input={'page': 'planning|{{task_index}}'})">
                    Show Potential Actions
                </button>
                <button type="button" class="btn btn-primary col-6 col-md-4" data-bs-toggle="modal" data-bs-target="#instructionModal">
                    Plan Edit Instruction
                </button>
                <button class="btn btn-info col-6 col-md-4" onclick="addOneStep()">
                    Add one step
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Action View</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h3><span class="badge rounded-pill text-bg-dark">Task Description:</span></h3>
                <p class="text-justify"> {{ tp_query | safe}} </p>

                <h3><span class="badge rounded-pill text-warning">Note:</span></h3>
                <p class="text-justify"> You can check each action by clicking the action name in the left panel. Description and necessary parameters will be provided to help you understand what our LLM assistant can do in this task. Please ignore the parameter UserID, which is automatically managed by our system.</p>
                

            <h3><span class="badge rounded-pill text-bg-warning">Actions:</span></h3>
  
  
            {% if action_list|length == 0 %}
                <p class="text-justify"> None </p>
            {% elif action_list|length > 0 %}
                <div class="row">
                    <div class="col-4">
                        <div class="list-group" id="list-tab" role="tablist">
                            {% for item in action_list -%}
                                {% if loop.index == 1 %}
                                    <a class="list-group-item list-group-item-action active" id="list-{{loop.index}}-list" data-bs-toggle="list" href="#list-{{loop.index}}" role="tab" aria-controls="list-{{loop.index}}">
                                    {{ item["tool_name"] }}
                                    </a>
                                {% else %}
                                    <a class="list-group-item list-group-item-action" id="list-{{loop.index}}-list" data-bs-toggle="list" href="#list-{{loop.index}}" role="tab" aria-controls="list-{{loop.index}}">
                                    {{ item["tool_name"] }}
                                    </a>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="tab-content" id="nav-tabContent">
                            {% for item in action_list -%}
                                {% if loop.index == 1 %}
                                    <div class="tab-pane fade show active" id="list-{{loop.index}}" role="tabpanel" aria-labelledby="list-{{loop.index}}-list">
                                        <p class="h2">Tool Description: </p>
                                        <p class="h4"><code>{{item["description"]}}</code></p>
                                        <p class="h2">Action Required Parameters: </p>
                                        <dl class="row">
                                            {% for key in item["schema"] -%}
                                            <dt class="col-sm-3">{{item["schema"][key]["title"]}}</dt> <dd class="col-sm-9">{{item["schema"][key]["description"]}}</dd>
                                            {% endfor %}
                                        </dl>
                                        <!-- <ol>
                                            {% for key in item["schema"] -%}
                                            <li>{{item["schema"][key]["title"]}}: {{item["schema"][key]["description"]}}</li>
                                            {% endfor %}
                                        </ol> -->
                                    </div>
                                {% else %}
                                    <div class="tab-pane fade" id="list-{{loop.index}}" role="tabpanel" aria-labelledby="list-{{loop.index}}-list">
                                        <p class="h2">Tool Description: </p>
                                        <p class="h4"><code>{{item["description"]}}</code></p>
                                        <p class="h2">Action Required Parameters: </p>
                                        <dl class="row">
                                            {% for key in item["schema"] -%}
                                            <dt class="col-sm-3">{{item["schema"][key]["title"]}}</dt> <dd class="col-sm-9">{{item["schema"][key]["description"]}}</dd>
                                            {% endfor %}
                                        </dl>
                                        <!-- <ol>
                                            {% for key in item["schema"] -%}
                                            <li>{{item["schema"][key]["title"]}}: {{item["schema"][key]["description"]}}</li>
                                            {% endfor %}
                                        </ol> -->
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
    </div>
    </div>
</div>

<div class="modal fade" id="instructionModal" tabindex="-1" aria-labelledby="instructionModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="instructionModalLabel">Action View</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h3><span class="badge rounded-pill bg-warning">Plan Design</span></h3>
                <ul>
                    <li>A clear plan with meaningful instruction can help provide a correct final outcome. To achieve that goal, participants should <code>edit / delete / add / split steps</code> to the plan generated.</li>
                    <li>Please notice that, Each <code>primary step (e.g., 1.) including all sub-steps (e.g., 1.x, 1.x.y)</code> will be used to generate one action to execute in the execution stage. The intermediate steps are providing details of the execution (e.g., bank card, product name).</li>
                    <li>All potential actions can be viewed with the button under task description (button <a href="#show_action">'Show Potential Actions'</a>). Please double check your plan with all potential actions before moving forward.</li>
                </ul>

                <h3><span class="badge rounded-pill bg-info">How to improve plan</span></h3>
                <div class="card">
                <div class="card-body">
                    <p class="card-text">
                        You can improve the generated draft plan with three actions: 
                        <ul>
                          <li> <code><strong>Edit plan step</strong></code>: edit the text of generated step. </li>
                          <li> <code><strong>Add new step</strong></code>: after you click the 'add one step' button, you should first input the index for a step you want to add.</li>
                          <li> <code><strong>Delete plan step</strong></code>: Participants should delete one primary step when this step can not correspond to any potential action. Please notice that, deleting one primary step will also cause deleting all sub-steps.</li>
                          <li> <code><strong>Split plan step</strong></code>: As each primary step is supposed to be transformed to single action, participants should split one primary step when it includes more than one actions. This action will insert one new primary step and move the follow-up sub-steps in the original step to new primary step.</li>
                        </ul>
                    </p>
                </div>
                </div>
                <br>
            </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
    </div>
    </div>
</div>

<h3><span class="badge rounded-pill text-bg-warning">Plan:</span></h3>
  {% if tp_plan|length == 0 %}
  <p class="text-justify"> None </p>
  {% elif tp_plan|length > 0 %}
  <blockquote class="blockquote">
    <div class="bd-example">
        <ul id="taskList" class="list-group">
        {% for item in tp_plan -%}
        <!-- <li contenteditable="true" id="{{item['step'] | safe}}">{{item["step"] | safe}}</li>   -->
            <li class="input-group mb-4" data-level="{{item['data_level'] | safe}}" id="{{item['index'] | safe}}">
                <!-- <div class="input-group mb-3"> -->
                    <span class="input-group-text" id="p-{{item['index'] | safe}}">{{item["index"] | safe}}</span>
                    <input type="text" class="form-control" value="{{item['step'] | safe}}">
                    <button class="btn btn-secondary" onclick="split_new_step(this.parentNode.getAttribute('id'))">Split step</button>
                    <button class="btn btn-warning" onclick="deleteTask(this.parentNode.getAttribute('id'))">Delete step</button>
            </li>
        {% endfor %}
        </ul>
    </div>
    
  </blockquote>
  {% endif %}

{% macro _hz_form_wrap(horizontal_columns, form_type, add_group=False, required=False) %}
  {% if form_type == "horizontal" %}
      {% if add_group %}
          <div class="form-group row{% if required %} required{% endif %}">{% endif %}
      <div class="offset-{{ horizontal_columns[0] }}-{{ horizontal_columns[1] }}
            col-{{ horizontal_columns[0] }}-{{ horizontal_columns[2] }}
           ">
  {% endif %}
  {{ caller() }}
{% endmacro %}

{% macro render_radio_field(field,
                  form_type="basic",
                  horizontal_columns=('lg', 2, 10),
                  button_map={},
                  button_style='',
                  button_size='') %}
{% if field.flags.required and not required in kwargs %}
    {% set kwargs = dict(required=True, **kwargs) %}
{% endif %}

{% set extra_classes = ' ' + field.render_kw.class if field.render_kw.class else '' %}

<div class="form-group required">
    {{ field.label(class="form-control-label")|safe }}<br>
    {#% call _hz_form_wrap(horizontal_columns, form_type, True, required=required) %#}
    {% for item in field -%}
        <div class="form-check form-check-inline">
            {{ item(class_="form-check-input")|safe }}
            {{ item.label(class="form-check-label", for=item.id)|safe }}
        </div>
    {% endfor %}
{#% endcall %#}
{%- if field.errors %}
    {%- for error in field.errors %}
        <div class="invalid-feedback" style="display: block;">{{ error }}</div>
    {%- endfor %}
{%- elif field.description -%}
    <small class="form-text text-muted">{{ field.description|safe }}</small>
{%- endif %} 
</div>
{% endmacro %}

<form action="" method="post" class="form" role="form" id="theForm">
    {{form.hidden_tag()}}

    <div class="d-grid">
        <input class="btn btn-success btn-block" id="submit_button" name="submit_button" type="submit"  style="display:none;" value="Plan looks nice, move forward to execution">
    </div>
    
</form>

<!-- Button trigger modal -->
<div class="d-grid">
    <button type="button" class="btn btn-success btn-block" data-bs-toggle="modal" data-bs-target="#submitModal">
        Submit Plan
    </button>
</div>

<!-- Modal -->
<div class="modal fade" id="submitModal" tabindex="-1" aria-labelledby="submitModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="submitModalLabel">Confirmation</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Warning, once you submit this plan, you will not get another chance to do any changes. 
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Let me think further</button>
          <button class="btn btn-success btn-block" onclick="updateplan()" type="submit">Save Change and move forward</button>
        </div>
      </div>
    </div>
  </div>

<script  type="text/javascript">

    // initialize one array from flask render variable tp_plan
    var task_list_hierachy = {{ tp_plan | tojson }};
    console.log(task_list_hierachy);

    function searchTask(cur_index) {
        for(var i=0; i<task_list_hierachy.length ; i++){
            if(task_list_hierachy[i].index === cur_index){
                return i;
            }
        }
        return -1;
    }

    async function record_user_action(action = "proceed", action_input = {}) {
        url = '/planning_agent/action_recording';
        try {
            // Start the POST request to send the message
            const response = await fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                // here the message does not matter
                body: JSON.stringify({ 'action': action, 'action_input': action_input})
            })
        } catch (error) {
            console.error('Error:', error);
        }
    }

    function searchInsearchPosition(prefix, prefix_pos) {
        var last_index = prefix_pos;
        for(var i=prefix_pos; i<task_list_hierachy.length ; i++){
            if(task_list_hierachy[i].index.startsWith(prefix)){
                last_index = i;
            }
        }
        return task_list_hierachy[last_index].index;
    }

    function new_step_li(new_index){
        // create one new task step object
        const li = document.createElement('li');
        li.className = 'input-group mb-4';
        const level = get_index_level(new_index)
        li.setAttribute('data-level', level);
        li.setAttribute('id', new_index);

        // insert the object into the position
        const input = document.createElement('input');
        input.type = 'text';
        input.className = "form-control";
        input.value = "";

        const para = document.createElement('span');
        para.setAttribute('id', "p-" + new_index);
        para.className = "input-group-text";
        const node = document.createTextNode(new_index);
        para.append(node)

        // const addBtn = document.createElement('button');
        // addBtn.textContent = 'Add one step';
        // addBtn.className = 'insert-btn';
        // addBtn.addEventListener('click', function(){
        //     addstep(new_index);
        // });

        // const insertBtn = document.createElement('button');
        // insertBtn.textContent = 'Insert Before';
        // insertBtn.className = 'insert-btn';
        // insertBtn.addEventListener('click', function(){
        //     insertTask(new_index, "before");
        // });

        // const insertBtn2 = document.createElement('button');
        // insertBtn2.textContent = 'Insert Behind';
        // insertBtn2.className = 'insert-btn';
        // insertBtn2.addEventListener('click', function(){
        //     insertTask(new_index, "behind");
        // });

        const splitBtn = document.createElement('button');
        splitBtn.textContent = 'Split Step';
        splitBtn.className = 'btn btn-secondary';
        splitBtn.addEventListener('click', function(){
            split_new_step(this.parentNode.getAttribute('id'));
        });

        const deleteBtn = document.createElement('button');
        deleteBtn.textContent = 'Delete Step';
        deleteBtn.className = 'btn btn-warning';
        deleteBtn.addEventListener('click', function(){
            deleteTask(this.parentNode.getAttribute('id'));
        });

        li.appendChild(para);
        li.appendChild(input);
        // li.appendChild(addBtn);
        // li.appendChild(insertBtn);
        // li.appendChild(insertBtn2);
        li.appendChild(splitBtn);
        li.appendChild(deleteBtn);
        return li;
    }

    function get_index_level(tp_index){
        const index_list = tp_index.split('.');
        if (index_list.length == 3){
            return 3;
        }
        else{
            if (tp_index[tp_index.length-1] === '.'){
                return 1;
            }
            else{
                return 2;
            }
        }
    }

    function get_three_levels(tp_index){
        const index_list = tp_index.split('.');
        var number_1 = -1;
        var number_2 = -1;
        var number_3 = -1;
        if (index_list.length == 3){
            number_1 = parseInt(index_list[0]);
            number_2 = parseInt(index_list[1]);
            number_3 = parseInt(index_list[2]);
        }
        else{
            if (tp_index[tp_index.length-1] === '.'){
                number_1 = parseInt(index_list[0]);
            }
            else{
                number_1 = parseInt(index_list[0]);
                number_2 = parseInt(index_list[1]);
            }
        }
        return [number_1, number_2, number_3]
    }

    function update_single_index(cur_index, new_index, level, mode){
        // add 1.2.3, then it only affect 1.2.x where w >= 3
        // delete 1.2.3 then it only affect 1.2.x where w >= 3
        // add 1.2 then it only affect 1.x where x >= 2
        // add 1. then it affect x. where x >= 1
        const three_levels_base = get_three_levels(new_index);
        const three_levels = get_three_levels(cur_index);
        for (let i = 0; i < level-1; i++) {
            if (three_levels[i] != three_levels_base[i]){
                return [false, null];
            }
        }
        if (mode == "delete"){
            three_levels[level - 1] = three_levels[level - 1] - 1;
        }
        else{
            if (three_levels[level - 1] != -1){
                if (three_levels[level - 1] < three_levels_base[level - 1]){
                    return [false, null]
                }
                three_levels[level - 1] = three_levels[level - 1] + 1;
            }
            else{
                return [false, null]
            }
        }
        var new_index = three_levels[0].toString()
        if (three_levels[1] == -1){
            return [true, new_index + "."];
        }
        for(var i=1; i<three_levels.length ; i++){
            if(three_levels[i] != -1){
                new_index = new_index + "." + three_levels[i].toString()
            }
        }
        return [true, new_index];
    }

    function update_planning_index(cur_index, target_index, cur_index_in_array, mode){
        // cur_index: the current index of element where we trigger add or delete button
        // new_index: the inserted step index or deleted step index
        // the current index (cur_index) in the task_list_hierachy
        // mode in ["before", "behind", "delete"]
        const level = get_index_level(target_index)
        const starting_index = cur_index_in_array;
        if (mode === "delete"){
            const starting_index = cur_index_in_array;
            for (let i = starting_index; i < task_list_hierachy.length; i++) {
                const old_index = task_list_hierachy[i].index;
                const [update_flag, new_index] = update_single_index(old_index, target_index, level, mode);
                console.log(old_index, update_flag, new_index)
                if (update_flag){
                    // update the array task_list_hierachy index
                    task_list_hierachy[i].index = new_index
                    // update the html element id and index in <p>
                    const taskItem = document.getElementById(old_index);
                    taskItem.setAttribute("id", new_index)
                    const taskItem_p = document.getElementById("p-" + old_index);
                    taskItem_p.innerText = new_index
                    taskItem_p.setAttribute("id", "p-" + new_index)
                    // To-do: update the function associated with every button
                }
            }
        }
        else{
            //for adding step, update the step index from the last to current index
            if (mode === "behind"){
                // delete current item, update the index starting from next step
                const starting_index = cur_index_in_array + 1;
            }
            else if (mode === "before"){
                // starting from the current step
                const starting_index = cur_index_in_array;
            }
            for (let i = task_list_hierachy.length - 1; i >= starting_index; i--) {
                const old_index = task_list_hierachy[i].index;
                const [update_flag, new_index] = update_single_index(old_index, target_index, level, mode);
                console.log(i, old_index, update_flag, new_index)
                if (update_flag){
                    // update the array task_list_hierachy index
                    task_list_hierachy[i].index = new_index
                    // update the html element id and index in <p>
                    const taskItem = document.getElementById(old_index);
                    taskItem.setAttribute("id", new_index)
                    const taskItem_p = document.getElementById("p-" + old_index);
                    taskItem_p.innerText = new_index
                    taskItem_p.setAttribute("id", "p-" + new_index)
                    // To-do: update the function associated with every button
                }
            }
        }

    }

    function split_new_step(cur_index){
        // make a new primary step, make the primary step empty
        // first insert into task_list_hierachy
        if (window.confirm("Do you really want to split from current step " + cur_index + " to a new primary step?" + "\nThis will impact the step and all sub-steps.")) {
            // const taskItem = document.getElementById(cur_index);
            const cur_index_in_array = searchTask(cur_index);
            const level = get_index_level(cur_index);
            const three_levels = get_three_levels(cur_index);
            if (level == 1){
                alert("We can not split primary step");
            }
            record_user_action(action="plan|split_step", action_input={"index": cur_index})
            // Then we move all steps in parallel levels
            // check how many sub-steps to delete
            if (level == 2) {
                // split from x.y, then we need to move all x.y'.z (y'>=y) to the x+1
                // first moving from back to x.
                shift = three_levels[1] - 1;
                // the shift from x.2 to x+1.1, then shift is 1
                for (let i=task_list_hierachy.length - 1; i >= cur_index_in_array; i--){
                    // starting from the last index, update 
                    const tp_index = task_list_hierachy[i].index;
                    const tp_three_levels = get_three_levels(tp_index);
                    var new_index = (tp_three_levels[0] + 1).toString();
                    if (tp_three_levels[0] > three_levels[0]){
                        // x.
                        if (tp_three_levels[1] == -1){
                            new_index = new_index + "."
                        }
                        // x.y.z
                        for(var j=1; j<tp_three_levels.length ; j++){
                            if(tp_three_levels[j] != -1){
                                new_index = new_index + "." + tp_three_levels[j].toString();
                            }
                        }
                    }
                    else{
                        // x.y.z -> x+1.y-shift.z
                        const tp_level = get_index_level(tp_index);
                        // x.
                        if (tp_three_levels[1] == -1){
                            new_index = new_index + "."
                        }
                        else{
                            new_index = new_index + "." + (tp_three_levels[1]-shift).toString();
                        }
                        // x.y.z
                        if (tp_three_levels[2] > -1){
                            new_index = new_index + "." + tp_three_levels[2].toString();
                        }
                    }
                    
                    // update the array task_list_hierachy index
                    task_list_hierachy[i].index = new_index
                    // update the html element id and index in <p>
                    const taskItem = document.getElementById(tp_index);
                    taskItem.setAttribute("id", new_index)
                    const taskItem_p = document.getElementById("p-" + tp_index);
                    taskItem_p.innerText = new_index
                    taskItem_p.setAttribute("id", "p-" + new_index)
                    // To-do: update the function associated with every button
                }
            }
            else{
                // level 3
                // split from x.y.z, then we need to move all x.y.z' (z'>=z) to the x+1.1.z'
                // first moving from back to x.
                shift = three_levels[1] - 1;
                shift_2 = three_levels[2] - 1;
                // the shift from x.2 to x+1.1, then shift is 1
                for (let i=task_list_hierachy.length - 1; i >= cur_index_in_array; i--){
                    // starting from the last index, update 
                    const tp_index = task_list_hierachy[i].index;
                    const tp_three_levels = get_three_levels(tp_index);
                    var new_index = (tp_three_levels[0] + 1).toString();
                    if (tp_three_levels[0] > three_levels[0]){
                        // x.
                        if (tp_three_levels[1] == -1){
                            new_index = new_index + "."
                        }
                        // x.y.z
                        for(var j=1; i<tp_three_levels.length ; j++){
                            if(tp_three_levels[j] != -1){
                                new_index = new_index + "." + tp_three_levels[j].toString();
                            }
                        }
                    }
                    else{
                        // x.y.z -> x+1.1.z-shift_2 for y
                        const tp_level = get_index_level(tp_index);
                        if (tp_three_levels[1] == three_levels[1]){
                            var new_index = new_index + ".1";
                            if (tp_three_levels[2] > -1){
                                new_index = new_index + "." + (tp_three_levels[2] - shift_2).toString();
                            }
                        }
                        else{
                            // x.y'.z -> x+1.y'-shift.z if y' > y
                            // x.
                            if (tp_three_levels[1] == -1){
                                new_index = new_index + "."
                            }
                            else{
                                new_index = new_index + "." + (tp_three_levels[1]-shift).toString();
                            }
                            // x.y.z
                            if (tp_three_levels[2] > -1){
                                new_index = new_index + "." + tp_three_levels[2].toString();
                            }
                        }
                    }
                    
                    // update the array task_list_hierachy index
                    task_list_hierachy[i].index = new_index
                    // update the html element id and index in <p>
                    const taskItem = document.getElementById(tp_index);
                    taskItem.setAttribute("id", new_index)
                    const taskItem_p = document.getElementById("p-" + tp_index);
                    taskItem_p.innerText = new_index
                    taskItem_p.setAttribute("id", "p-" + new_index)
                    // To-do: update the function associated with every button
                }
                // finally insert x+1.1
                var cur_index_ = task_list_hierachy[cur_index_in_array].index
                //locate current item with id
                const taskItem = document.getElementById(cur_index_);
                var new_index = (three_levels[0] + 1).toString() + ".1";
                console.log("insertTask", cur_index_);
                // const index_list = cur_index_.split('.');

                // insert an empty step, with 
                var new_step = {
                    "step": "",
                    "index": new_index,
                    "data_level": 2,
                    "tool": "null"
                }
                const new_taskItem = new_step_li(new_index);

                // insert the new primary step before current item
                task_list_hierachy.splice(cur_index_in_array, 0, new_step);
                // insert the new element before the current task step
                taskItem.parentNode.insertBefore(new_taskItem, taskItem);
            }
            // finally insert x+1.
            var cur_index_ = task_list_hierachy[cur_index_in_array].index
            //locate current item with id
            const taskItem = document.getElementById(cur_index_);
            var new_index = (three_levels[0] + 1).toString() + ".";
            console.log("insertTask", cur_index_);
            // const index_list = cur_index_.split('.');

            // insert an empty step, with 
            var new_step = {
                "step": "",
                "index": new_index,
                "data_level": 1,
                "tool": "null"
            }
            const new_taskItem = new_step_li(new_index);

            // insert the new primary step before current item
            task_list_hierachy.splice(cur_index_in_array, 0, new_step);
            // insert the new element before the current task step
            taskItem.parentNode.insertBefore(new_taskItem, taskItem);
                
            console.log(task_list_hierachy);

            // finally, we insert the new primary step before the current part
        }
    }

    function validate_new_index(new_index){
        if (new_index.includes(".")){
            const index_list = new_index.split('.');
            if (index_list.length > 3){
                return false
            }
            if (new_index.endsWith(".")){
                //x.
                if (isNaN(Number(index_list[0], 10))){
                    return false;
                }
            }
            else{
                //x.y or x.y.z
                for(let i=0; i < index_list.length; i ++){
                    if (isNaN(Number(index_list[i], 10))){
                        return false;
                    }
                }
            }
            return true;
        }
        else{
            return false;
        }
    }

    function addOneStep(){
        const new_index = prompt('Enter the new step index, valid index up to three levels e.g., x. or x.y or x.y.z\nIt is also possible to add one step with same index as current plan, then the steps behind it will be automatically re-indexed\n')
        if (new_index){
            // first confirm the string is in the format of x.y.z or x.y or x.
            if (validate_new_index(new_index)){
                // search for a exact place to insert the new element
                last_index = task_list_hierachy[task_list_hierachy.length - 1].index;
                first_index = task_list_hierachy[0].index;
                exact_match = searchTask(new_index);
                if (exact_match == -1){
                    const level = get_index_level(new_index);
                    const number_list = get_three_levels(new_index);
                    if (level == 1){
                        // insert x. which x. does not exist in current plan, ensure x-1. exist
                        prefix = (number_list[0] - 1).toString() + "."
                        prefix_match = searchTask(prefix);
                        if (prefix_match == -1){
                            console.log("aleter prefix", prefix)
                            alert("The new index "+new_index+ " is invalid, as its prefix "+ prefix + " does not exist.")
                        }
                        else{
                            // search for the last step which contains the prefix
                            index_to_insert = searchInsearchPosition(prefix, prefix_match)
                            insertTask(index_to_insert, new_index, mode="behind");
                        }
                    }
                    else{
                        if (number_list[level - 1] == 1){
                            // a new sub-step, ensure the parent of it exists
                            if (level == 2){
                                // x.1, and x.1 does not exist, ensure x. exist
                                prefix = number_list[0].toString() + "."
                            }
                            else{
                                //x.y.1, and x.y.1 does not exist, ensure x.y exist
                                prefix = number_list[0].toString() + "." + number_list[1].toString()
                            }
                        }
                        else{
                            if (level == 2){
                                //x.y (y!=1)
                                prefix = number_list[0].toString() + "." + (number_list[1]-1).toString()
                            }
                            else{
                                // x.y.z (z != 1)
                                prefix = number_list[0].toString() + "." + number_list[1].toString() + "." + (number_list[2]-1).toString()
                            }
                        }
                        prefix_match = searchTask(prefix);
                        if (prefix_match == -1){
                            console.log("aleter prefix", prefix)
                            alert("The new index "+new_index+ " is invalid, as its prefix "+ prefix + " does not exist.")
                        }
                        else{
                            // search for the last step which contains the prefix
                            index_to_insert = searchInsearchPosition(prefix, prefix_match)
                            insertTask(index_to_insert, new_index, mode="behind")
                        }
                    }
                }
                else{
                    // if we find an exact match, insert before the exact match
                    insertTask(new_index, new_index, mode="before");
                }
            }
            else{
                alert("Invalid index " + new_index)
            }
        }
    }

    async function updateplan(){
        console.log("Planning updated")
        //Fetch the input from the user interface and send to the server
        for (let i=0; i< task_list_hierachy.length; i++){
            const cur_index = task_list_hierachy[i].index
            const taskItem = document.getElementById(cur_index);
            task_list_hierachy[i].step = taskItem.querySelector("input").value;
        }
        data = {
            "plan": task_list_hierachy
        };
        // const response =  await $.post({url: "/planning_agent/updateplan", type: "POST", data: JSON.stringify(data), {#dataType:'json'#}
        //         contentType: "application/json; charset=UTF-8",})
        try {
            // Start the POST request to send the message
            const response = await fetch('/planning_agent/updateplan', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            })
        } catch (error) {
            console.error('Error:', error);
        } 
        finally {
            // after the plan is successfully updated, submit form and jump to next page;
            document.getElementById('theForm').submit();
        }
        // document.getElementById("submit_button").setAttribute("display", "block");
        // $.post({url: "/planning_agent/planning", type: "POST", data: JSON.stringify(data), {#dataType:'json'#}
        //         contentType: "application/json; charset=UTF-8",})
        // document.getElementById('theForm').submit();
    }

    function insertTask(cur_index, new_index, mode) {
        //locate current item with id
        const taskItem = document.getElementById(cur_index);
        console.log("insertTask", cur_index);
        record_user_action(action="plan|add_step", action_input={"cur_index":cur_index, "new_index": new_index, "mode": mode});
        const index_list = cur_index.split('.');
        const level = get_index_level(new_index);

        // search current position in the json array
        const cur_index_in_array = searchTask(cur_index);
        // insert an empty step, with 
        var new_step = {
            "step": "",
            "index": new_index,
            "data_level": level,
            "tool": "null"
        }
        const new_taskItem = new_step_li(new_index);

        update_planning_index(cur_index, new_index, cur_index_in_array, mode)

        // insert the new step
        if (mode === "before"){
            // insert before current item
            task_list_hierachy.splice(cur_index_in_array, 0, new_step);
            // insert the new element before the current task step
            taskItem.parentNode.insertBefore(new_taskItem, taskItem);
        }
        else{
            // insert at next position
            task_list_hierachy.splice(cur_index_in_array + 1, 0, new_step);
            // insert the new element before the next sibling of the current task step
            taskItem.parentNode.insertBefore(new_taskItem, taskItem.nextSibling);
        }
        console.log(task_list_hierachy);

        // To-do: update the index of items in the array
    }

    function deleteTask(cur_index) {
        if (window.confirm("Do you really want to delete step " + cur_index + " ?" + "\nThis will totally delete the step and all sub-steps.")) {
            // const taskItem = this.closest('.task-item');
            const taskItem = document.getElementById(cur_index);
            // const cur_index = taskItem.getAttribute('data-index');
            const cur_index_in_array = searchTask(cur_index);
            // console.log(cur_index, typeof(cur_index))
            // console.log(cur_index_in_array);
            // console.log(taskItem);
            // remove one json object from current step?
            // or we should remove all sub-steps? To check
            // console.log(cur_index, cur_index, cur_index_in_array)
            var number_to_delete = 1;
            var index_to_delete = [];
            // check how many sub-steps to delete
            for (let i=cur_index_in_array+1; i < task_list_hierachy.length; i++){
                if (task_list_hierachy[i].index.startsWith(cur_index)){
                    number_to_delete = number_to_delete + 1;
                    index_to_delete.push(task_list_hierachy[i].index);
                }
                else{
                    break;
                }
            }
            // delete the variable list first
            task_list_hierachy.splice(cur_index_in_array, number_to_delete);
            update_planning_index(cur_index, cur_index, cur_index_in_array, mode="delete")
            // console.log("update index done")
            // console.log(task_list_hierachy)
            // task_list_hierachy.splice(cur_index_in_array, number_to_delete);
            taskItem.parentNode.removeChild(taskItem);
            // delete the sub-steps of the current step
            if (index_to_delete.length > 0){
                for (let i = 0; i < index_to_delete.length; i++){
                    const tp_item = document.getElementById(index_to_delete[i]);
                    tp_item.parentNode.removeChild(tp_item);
                }
            }
            record_user_action(action="plan|delete_step", action_input={"index": cur_index})
        }
    }
</script>
{% endblock %}

